.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main img {
    width: 550px;
    height: 450px;
}

.manage,
.bookmark,
.insure,
.fylo {
    display: flex;
    align-items: center;
    width: 1015px;
    height: 500px;
    gap: 100px;
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.right-side {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.last-section {
    gap: 35px
}

.content button {
    display: flex;
    justify-content: center;
    width: 175px;
    border: 1px solid #33323D;
    color: #33323D;
}

.content button:hover {
    background-color: #33323D;
    color: #ffffff;
}